In [1]:
import pandas as pd

In [3]:
grades = pd.read_csv('../data/grades.csv')

In [4]:
grades.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [5]:
df1=grades.iloc[:,[0,1,3,5]]

In [6]:
df1.head(1)

,student_id,assignment1_grade,assignment2_grade,assignment3_grade
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,83.030552,67.164441

In [16]:
df1['final'] = df1.apply(lambda x: (x[1] + x[2] + 2*x[3])/400, axis = 1)

/Users/wcmarsha/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [22]:
df1.sort_values('final', ascending=False).iloc[:int(len(df1)/100)]

,student_id,assignment1_grade,assignment2_grade,assignment3_grade,final
369,DDE0526B-7DA4-80E8-C2A6-D097F3826029,99.581715,99.581715,99.581715,0.995817
619,2B806EF6-A590-1C00-F0C5-1469E3B2152E,99.455813,98.955813,99.655813,0.994308
376,1F51E050-78F7-F270-1B90-ED1BC0376763,99.435672,98.935672,99.635672,0.994107
585,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,99.134693,99.134693,99.134693,0.991347
1174,2B806EF6-A590-1C00-F0C5-1469E3B2152E,97.952182,97.452182,98.152182,0.979272
300,DDE0526B-7DA4-80E8-C2A6-D097F3826029,97.604671,97.604671,97.604671,0.976047
1099,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,97.571739,97.571739,97.571739,0.975717
2160,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,97.473243,96.973243,97.673243,0.974482
903,247B105C-2067-A7AA-2CBE-B65278128C96,97.388763,96.888763,97.588763,0.973638
881,1F51E050-78F7-F270-1B90-ED1BC0376763,97.277300,96.777300,97.477300,0.972523
1218,25197F10-E9E9-4C50-63F8-6C896975AAE2,97.087879,97.087879,97.087879,0.970879
1229,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,96.982689,96.482689,97.182689,0.969577
1630,247B105C-2067-A7AA-2CBE-B65278128C96,96.819632,96.819632,96.819632,0.968196
1960,5AB0D44C-86FF-2DE6-B096-B0F5D029E430,96.478922,95.978922,96.678922,0.964539
86,42A3C4F0-7032-7368-2D67-989735754020,96.219108,96.219108,96.219108,0.962191
667,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,95.944829,95.444829,96.144829,0.959198
198,1F51E050-78F7-F270-1B90-ED1BC0376763,95.718485,95.718485,95.718485,0.957185
58,25197F10-E9E9-4C50-63F8-6C896975AAE2,95.568756,95.068756,95.768756,0.955438
1319,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,95.511848,95.011848,95.711848,0.954868
459,25197F10-E9E9-4C50-63F8-6C896975AAE2,95.425696,94.925696,95.625696,0.954007
1284,247B105C-2067-A7AA-2CBE-B65278128C96,95.271325,95.271325,95.271325,0.952713
1815,247B105C-2067-A7AA-2CBE-B65278128C96,95.251208,94.751208,95.451208,0.952262
895,5AB0D44C-86FF-2DE6-B096-B0F5D029E430,99.835987,99.835987,89.852389,0.948442

In [24]:
df1.final.argsort()

0       1424
1         15
2        226
3       2237
4        339
5       1929
6        897
7        461
8        973
9       1010
10      1711
11      1448
12      1966
13      1047
14      2098
15       269
16       669
17       578
18      2094
19      1096
20       826
21      1847
22      2191
23      2140
24       108
25       364
26      1030
27       100
28      1364
29      1765
        ...
2285      28
2286    2228
2287     206
2288     347
2289     610
2290     234
2291     487
2292     895
2293    1815
2294    1284
2295     459
2296    1319
2297      58
2298     198
2299     667
2300      86
2301    1960
2302    1630
2303    1229
2304    1218
2305     881
2306     903
2307    2160
2308    1099
2309     300
2310    1174
2311     585
2312     376
2313     619
2314     369
Name: final, Length: 2315, dtype: int64